.meet__the__employees__background {
  top: 0;
  position: fixed;
  background: url("/src/assets/capa.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.meet__the__employees {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.employes__board__margin {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 60px;
  background-color: #313131;
  box-shadow: 7px 5px 18px -4px rgba(0, 0, 0, 0.74);
}

.employes__board__title {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  z-index: 100;
  margin: 90px 0px 50px 30px;
}

.employes__board__title h2 {
  font-size: 2.2rem;
  padding-top: 5px;
  font-weight: 300;
}

.employes__board__title div {
  background-color: cadetblue;
  height: 44px;
  width: 4px;
}

.employes__board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 40px;
  align-self: center;
  margin-left: 28px;
}

@media (max-width: 670px) {
  .employes__board {
    margin-left: 0;
  }

  .employes__board__margin {
    display: none;
  }
}
